body {
	font-size: 20px;  /* Font size for the body */
}

#tabbed-layout {
	border: .1em solid black;   /* a thin black border */
	border-radius: 0 .25em .25em;      /* round the bottom corners of the border */
	margin: 0 auto;   /*center the layout */
	padding: .75em;    /* padding inside the container */
	width: 80%;               /* width is being set to 80% of the page */
}

#tabbed-layout>ul {
	list-style: none;    /* removes the bullet points */
	margin: -2.2em 0 0 .05em; /* adjust the positioning */
	padding: 0;    /* removes padding */
}

#tabbed-layout>ul>li {
	border: .1em solid black;        /* a think black border */
	border-radius: .25em .25em 0 0;  /* round the top corners */
	display: inline;        /* display the list items inline which is side by side */
	padding: .25em .5em;   /* adds padding inside the tabs */
	margin: -.5em -.15em -.15em -.15em;   /* adjust margin to have the tabs correctly positioned*/
}

#tabbed-contents {
	position: relative;           /* allows positioning of the tab contents */
	top: .5em;  /* moves the content down a bit */
}